variables.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# frontend crap
frontend/my-app/node_modules
frontend/my-app/package-lock.json
frontend/my-app/package.json
.DS_Store
